<% include partials/header %>
<div class="ui main text container segment">
    <div class= "ui huge header"><%= stud.name %></div>
    <div class="ui top attached ">     
        <div class="item">
            <img class = "ui centered circular image" src="<%=stud.image%>"></img>
            <div class= "content">
                
                <span> <p><%= stud.age %> years old</p></span>
            </div>
            <div class= "content">
                <span> <%= stud.created.toDateString() %> </span>
            </div>
            <div class= "content">
                <span> <%= stud.created.toLocaleTimeString() %> </span>
            </div>

            <div class= "description">
                <p><%= stud.bio %></p>
            </div>
            <a href= "/students/<%= stud._id %>/edit" class= "ui red basic button"> Edit</a>
            <form id="delete" action = "/students/<%= stud._id %>?_method=DELETE" method ="POST">
                <button class = "ui orange basic button">Delete</button>
            </form>

        </div>
    </div>
    
</div>



<% include partials/footer %>

